a
{width: 450px;
border:1px solid red;
text-align:center;
padding: 5px;
margin-bottom: 10px;
align-content: center
}


c
{
padding right:50px;
padding-bottom:50px;
padding-top: 5px;
padding-left:50px;

}

c
{
	margin-top: 5px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	
}

f
{
padding right:50px;
padding-top: 20px;
padding-bottom:50px;
padding-left:50px;

}

f
{
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	
}

e
{
padding right:50px;
padding-top: 100px;
padding-bottom:10px;
padding-left:50px;

}

e
{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	
}
x
{
padding right:50px;
padding-top: 80px;
padding-bottom:10px;
padding-left:50px;

}

x
{
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	
}

